In [1]:
import pandas as pd

In [5]:
teams = pd.read_csv('/home/chenjie/Desktop/Math564Project/team_rankings.csv')
players = pd.read_csv('/home/chenjie/Desktop/Math564Project/players.csv')

final_table = pd.merge(teams,players, on = ['Season','TEAM'])
final_table.shape

(1561, 26)

In [6]:
players.shape

(1761, 16)

In [7]:
final_table.head()

,Season,TEAM,win,loss,pct,home,away,div,conf,ppg,...,TS,AST,TO,USG,ORR,DRR,REBR,PER,VA,EWA
0,2014,SA,62,20,0.756,32-9,30-11,12-4,38-14,105.4,...,0.535,15.4,11.2,23.5,8.6,28.3,18.8,21.40,318.8,10.6
1,2014,SA,62,20,0.756,32-9,30-11,12-4,38-14,105.4,...,0.590,25.7,12.2,24.2,2.3,12.0,7.3,20.06,221.2,7.4
2,2014,SA,62,20,0.756,32-9,30-11,12-4,38-14,105.4,...,0.602,14.6,8.8,17.0,4.6,18.9,12.1,19.43,256.3,8.5
3,2014,SA,62,20,0.756,32-9,30-11,12-4,38-14,105.4,...,0.555,24.9,9.7,25.9,1.0,7.5,4.4,19.00,238.5,7.9
4,2014,SA,62,20,0.756,32-9,30-11,12-4,38-14,105.4,...,0.588,16.3,6.9,21.2,2.6,9.6,6.2,18.80,177.7,5.9

In [8]:
final_table.to_csv('final_table.csv')